<% include partials/header %>

<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Grubber</a>

        <ul>
            <li><a href="/myrecipes">My Recipes</a></li>
        	<li>
	            <form action="/search" class="pure-form" method="GET">	
					<input type="text" class="pure-input-1-3 pure-input-rounded"name="recipe" >
					<button type="submit" class="pure-button">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</li>	
        </ul>
    </div>
</div>

<div class="results-heading">

	<h1><%= results["name"] %></h1>
</div>

<img src="<%= results.images[results.images.length - 1].hostedMediumUrl %>">
<p>Makes: <%= results["yield"] %></p>
<p>Time: <%= results["totalTime"] %></p>
<p>Ingredients:  <% results["ingredientLines"].forEach(function(ingredient){ %>
				<li><%= ingredient %></li>
	<% }) %>
</p> 
<a href="<%=results.source.sourceRecipeUrl%>">Recipe</a> 
<ul>


<div class="pure-g">
	<form action="/location" method="post">
		<input type="hidden" value="<%=results.id%>" name="[results]id">
		<input type="hidden" value="<%=results.name%>" name="name">
		<button class="pure-button pure-button-primary" type="submit">Ingredients Search</button>
	</form>

	<form action="/myrecipes/<%=results['id']%>" method="POST">
		<input type="hidden" value="<%=results.images[results.images.length - 1].hostedMediumUrl%>" name="results[imgUrl]">
		<input type="hidden" value="<%=results["name"]%>" name="results[name]">
		<button class="pure-button pure-button-primary" type="submit" >Add to recipes</button>
	</form>
</div> 





<% include partials/footer %>