<% include partials/header%>




<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Grubber</a>

        <ul>
           <li>
            <a href="/myrecipes">My Recipes</a></li>
        	<li>
        	<li>
            <a href="/stores">Stores</a></li>
        	<li>
	            <form action="/search" class="pure-form" method="GET">	
					<input type="text" class="pure-input pure-input-rounded"name="recipe" >
					<button type="submit" class="pure-button">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</li>	
        </ul>
    </div>
</div>

<div class="results-heading">

	<h1><%= results["name"] %></h1>
	<div class="pure-g details-box"> 
		<div class="pure-u-sm-3-4 img-sec">
			<img src="<%= results.images[results.images.length - 1].hostedLargeUrl %>">
				<div class="form-sec">
					<form action="/myrecipes/<%=results['id']%>" method="POST">
						<input type="hidden" value="<%=results.images[results.images.length - 1].hostedMediumUrl%>" name="results[imgUrl]">
						<input type="hidden" value="<%=results["name"]%>" name="results[name]">
						<button class="pure-button pure-button-primary" type="submit" >
							Add to recipes
						</button>
					</form>
				</div>
				
		</div>
		<div class="pure-u-sm-1-4 ingredients-sec">	

		<% if (results["totalTime"]){ %>
			<p>
				Time: <%= results["totalTime"] %>
			</p>
			<% } %>
			<p>
				Ingredients: 
			<br>
			<ul class="ingredients-list">
			 <% results["ingredientLines"].forEach(function(ingredient){ %>

							<li><%= ingredient %></li> 
				<% }) %>
			</ul>
			</p> 
			Get the full recipe:
			<a href="<%=results.source.sourceRecipeUrl%>/" target="_blank"><%= results.source.sourceDisplayName %> </a>
		</div>
		
	</div>

		<div id="map-canvas">

		</div>




<script type="text/javascript">

</script>


<% include partials/footer %>