<% include partials/header %>



<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Grubber</a>

        <ul>
            <li><a href="/myrecipes">My Recipes</a></li>
        	<li>
	            <form action="/search" class="pure-form" method="GET">	
					<input type="text" class="pure-input pure-input-rounded"name="recipe" >
					<button type="submit" class="pure-button">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</li>	
        </ul>
    </div>
</div>

<div class="results-heading">

	<h1>Recipes</h1>


<div class="results">
<div class="pure-g"></div>
<% Results.forEach(function (food) {%>
       
        <div class="pure-u-1-6 imgbox">
        	<div onclick="location.href='/details/<%=food.id%>';" class="result_img food_info">
                    <a href="/details/<%=food.id%>">
                        <%=food.recipeName%>
                    </a> 
            </div>
                <aside onclick="location.href='/details/<%=food.id%>';" class="food_img">
                    
                     <a href="/details/<%=food.id%>"><img src="<%= food.smallImageUrls %>" alt="food image"></a>
                </aside>
              
        </div>
      

 <% }) %>
</div>
</div>
</div>


<script>



recipe_click = function(){

}

$(".food_info").mouseenter(
    function() {
        $( this ).next().show("slow");
    });
$(".food_info").mouseleave(
    function() {
        $( this ).next().hide(1000);
    });

</script>

<% include partials/footer %>