<% include partials/header %>
<% include partials/header %>


<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Grubber</a>

        <ul>
            <li><a href="/myrecipes">My Recipes</a></li>
        	<li>
	            <form action="/search" class="pure-form" method="GET">	
					<input type="text" class="pure-input pure-input-rounded"name="recipe" >
					<button type="submit" class="pure-button">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</li>	
        </ul>
    </div>
</div>

<div class="results-heading">

	<h1>Recipes Y'all</h1>


<div class="results">
<div class="pure-g"></div>
<% Results.forEach(function (food) {%>
       
        <div class="pure-u-7-24 imgbox">
            <a href="/details/<%=food.id%>"> </a> 
        	<div class="result-img">
                    <a href="/details/<%=food.id%>"><img src="<%= food.smallImageUrls %>" alt="food image"></a> 
            </div>
                <aside class="photo-box-caption">
                    <a href="/details/<%=food.id%>"><%=food.recipeName%></a>
                </aside>
              
        </div>
      

 <% }) %>
</div>
</div>
</div>


<script type="text/javascript">


	
</script>

<% include partials/footer %>