<% include partials/header_3 %>



<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Grubber</a>

        <ul>
            <li><a href="/myrecipes">My Recipes</a></li>
        	<li>
	            <form action="/search" class="pure-form" method="GET">	
					<input type="text" class="pure-input pure-input-rounded"name="recipe" >
					<button type="submit" class="pure-button">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</li>	
        </ul>
    </div>
</div>

<div class="results-heading">

	<h1>Recipes</h1>


<div class="results">
<div class="pure-g"></div>

<% Results.forEach(function (food) {%>
       
        <div class="pure-u-1-6 imgbox">
        	<div onclick="location.href='/details/<%=food.id%>';" class="result_img food_info">
                    <a class="food_name" href="/details/<%=food.id%>">
                        <%=food.recipeName%>
                        
                    </a> 
                    <img class="<%=food.id%>" src="<%= food.smallImageUrls %>" alt="food image">
                    <p class="food">,<%= food.id %></p> 

            </div>
                <aside onclick="location.href='/details/<%=food.id%>';" class=" pure-img food_img">
                    
                     <a href="/details/<%=food.id%>"><img class="pure-img food_img" src="<%= food.smallImageUrls %>" alt="food image"></a>
                </aside>
              
        </div>
      

 <% }) %>
</div>
</div>
</div>




<% include partials/footer %>